.App {
  text-align: center;
 
}

.App-header {
  background-color: #314e52;
  min-height: 100vh;
  min-width: fit-content;
}



h1 {
  font-family: 'Ubuntu';
}

p {
  font-family: 'Ubuntu';
}

.outer-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #f2a154;
}

.nav-container{
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-end;
  background-color: #314e52;

}

.nav-list-right {
  display: flex;
  flex-direction: row;
  float: right;
}

.list-item {
  display: flex;
  flex-direction: row;
  margin: 0 0.7rem;
  list-style: none;
}

.list-item a {
  text-decoration: none;
  color: #f2a154;
}

a.active-link {
  color: black;
  font-weight: bold;
}

.presentation-container{
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.icon {
  margin: 0 .5rem;
  color: #f2a154;
}

@media(max-width: 768px) {
  .nav-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
  }

  .presentation-container{
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

/* SKILLS SECTION */

.skills-section {
  padding: 2rem 2rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  background-color: #f4f5db;
  /* margin: 10px 0; */
}

.skills-title{
  font-family:'Ubuntu';
  font-size:1rem;
}

.skill-container {
  width: 70%;
  margin: auto;
}


.bar-flex{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 1rem 0;
}

.bar-fill{
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #314e52;
  border-radius: 40px;
  color: #f2a154;
}

.tag{
  text-align: center;
}

@media(max-width: 768px) {
  .skills-section {
    padding: 2rem 2rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    background-color: #f4f5db;
    /* margin: 10px 0; */
  }
}

/* ABOUT ME SECTION */
.about-section{
  display: flex;
  flex-direction: column;
  background-color: #314e52;
  min-height: max-content;
  margin: 0;
}

.title{
  font-family:'Ubuntu';
  font-size:1rem;
  margin: 0;
}

.about-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.about-biography{
  color: #f2a154;
  font-family: 'Ubuntu';
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  padding: 3rem;
  font-size: 2rem;
}

.avatar {
  vertical-align: middle;
  width: 400px;
  height: 400px;
  padding: 1rem;
  border-radius: 50%;
  margin: 5rem 0;
}

@media screen and (max-width: 768px) {

  #about{
    width: fit-content;
  }

  .about-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem 5.5rem;
    
  }

  .about-biography{
    color: #f2a154;
    font-family: 'Ubuntu';
    width: 50%;
    margin: auto;
    font-size: 1rem;
  }
  
}


/* CONTACT ME SECTION */

.contact-section {
  display: flex;
  flex-direction: row;
  background-color: #f4f5db;
  margin: 0;
}

.contact-left {
  padding: 1rem;
  width: 30%;
  margin: 5rem;
  border: 1px solid;
  box-shadow: 10px 10px;
}

.contact-left h1 {
  font-family: 'Ubuntu' ;
}

.contact-left p {
  line-height: 3;
  width: 15rem;
  margin: auto;
  font-size: larger;
  font-family: 'Ubuntu';
}

.contact-right{
  width: 50%;
  margin: auto;
  border: 1px solid;
  box-shadow: 10px 10px;
}


.contact-right a {
  text-decoration: none;
  color: black;
}

.btn-scroll{
  position:fixed;
  width:60px;
  height:60px;
  bottom: 40px;
  right: 6px;
  color: black;
  text-align:center;
}

.footer {
  min-height: 10vh;
  background-color: #314e52;
}

.footer p {
  font-size: 1rem;
  padding: 3rem;
  margin: 0;
}



@media(max-width: 768px) {
  .contact-section{
    display: flex;
    flex-direction: column;
    background-color: #f4f5db;
    min-width: max-content;
    margin: 0;
    height: 100vh;
  }


  .contact-left {
    border: 1px solid;
    width: 60%;
    margin: 1rem 3rem;
    box-shadow: 10px 10px;
  }

  .contact-right{
    width: 60%;
    height: 37vh;
    margin: 1rem 4rem;
    border: 1px solid;
    box-shadow: 10px 10px;
  }

  .btn-scroll{
    position:fixed;
    width:40px;
    height:40px;
    bottom: 40px;
    right: 70px;
    text-align:center;
  }
}



